.progress-list{
  margin-top: 30px;

  .progress-list__title{
    font-family: $font-family-title;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-text-additional;
    margin-bottom: 10px;
  }

  p.progress-list__subtitle{
    font-family: $font-family-additional;
    font-weight: bold;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    color: $color-accent-additional;
    text-transform: uppercase;
    margin: 4px 0px;
  }

  .progress-list__skill{
    display: inline-block;
    border: 1px solid transparentize($color-accent, .5);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 6px;

    min-width: 160px;
    @media screen and (max-width: 550px){
      min-width: 85px;
    }

    p{
      width: 100%;
      font-family: $font-family-additional;
      margin-bottom: 0px;

      &.progress-list__skill-title{
        line-height: $line-height-t5;
        font-size: $font-size-t5;
      }

      &.progress-list__skill-value{
        text-transform: uppercase;
        line-height: $line-height-t6;
        font-size: $font-size-t6;
        display: block;
      }
    }


    .progress{
      height: 6px;
      margin: 0px -2px;

      .progress-bar{
        background-color: $color-accent;
        height: unset;
      }
    }
  }
}