.resume-list{
  margin-top: 30px;
  margin-bottom: 30px;

  .resume-list_title{
    font-family: $font-family-title;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-text-additional;
    margin-bottom: 40px;
  }

  .resume-list__block{
    border-left: 2px solid $color-accent;
    padding-left: 25px;
    padding-bottom: 50px;


    .resume-list__block-intro{
      margin: 0px 0px 10px 0px;
    }

    p{
      margin: 0;
    }

    h4{
      font-size: $font-size-t4;
      font-weight: bold;
      margin-top: 18px;
      color: $color-accent-additional;
    }

    ul{
      margin-left: 25px;
      list-style: disc;

      ul{
        list-style: circle;
        margin-left: 35px;
      }

      li{
        margin-bottom: 4px;
      }
    }

    ul.inline-comma-list{
      margin-left: 10px;

      li{
        display: inline;

        &:after{
          content: ", ";
        }
      }

      li:last-child:after{
        content: unset;
      }
    }

    ul.inline-rectangle-list {
      margin-left: 10px;

      li{
        display: inline-block;
        background: transparentize($color-accent, 0.95);
        padding: 0px 8px;
        border-radius: 8px;
      }
    }

    &:before{
      width: 12px;
      height: 12px;
      border: 2px solid $color-accent;
      position: absolute;
      content: "";
      border-radius: 50%;
      background-color: #ffffff;
      left: 10px;
    }

    &:last-child{
      padding-bottom: 0;
    }
  }

  .resume-list__block-title{
    text-transform: uppercase;
    color: $color-accent;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    font-family: $font-family-title;
    font-weight: 700;
    padding-bottom: 5px;
  }

  .resume-list__block-position{
    font-family: $font-family-additional;
    font-weight: bold;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    color: $color-accent-additional;
  }

  .resume-list__block-date{
    font-family: $font-family-additional;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    color: $color-text-additional;
    padding-bottom: 10px;
  }
}